#!/usr/bin/env ruby

require 'bootstrap'

compile '/index.md' do
  filter :kramdown
  layout '/home.*'
  write item.identifier.without_ext + '.html'
end

compile '/ec/index.md' do
  filter :kramdown
  layout '/ec.*'
  write item.identifier.without_ext + '.html'
end

compile '/ec/*.html' do
  layout '/ec.*'
  write item.identifier.without_ext + '/index.html'
end

compile '/ec/*.md' do
  filter :kramdown
  layout '/ec.*'
  write item.identifier.without_ext + '/index.html'
end

compile '/**/*.scss' do
  filter :sass, syntax: :scss
  write item.identifier.without_ext + '.css'
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
