#!/usr/bin/env ruby

require 'bootstrap'

compile '/rcents/index.md' do
  filter :kramdown
  layout '/home.*'
  write item.identifier.without_ext + '.html'
end

compile '/rcents/ec/index.md' do
  filter :kramdown
  layout '/ec.*'
  write item.identifier.without_ext + '.html'
end

compile '/rcents/ec/*.md' do
  filter :kramdown
  layout '/ec.*'
  write item.identifier.without_ext + '/index.html'
end

compile '/rcents/lec/index.md' do
  filter :kramdown
  layout '/lec.*'
  write item.identifier.without_ext + '.html'
end

compile '/rcents/lec/*.md' do
  filter :kramdown
  layout '/lec.*'
  write item.identifier.without_ext + '/index.html'
end


compile '/**/*.scss' do
  filter :sass, syntax: :scss
  write item.identifier.without_ext + '.css'
end

compile '/**/*' do
  write item.identifier.to_s
end

layout '/**/*', :erb
