<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>RCENTS<%= " - #{@item[:title]}" if @item[:title] %></title>

    <link href="/<%= "#{@config[:site_pfx]}" if @config[:site_pfx] %>style/main.css" rel="stylesheet">
    <link href="/<%= "#{@config[:site_pfx]}" if @config[:site_pfx] %>style/sticky-footer.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet"/>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
</head>

<body>

  <main role="main" >

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-5">RCENTS Project</h1>
        <%= yield %>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="card border-light">
        <h2>Short Read Error Correction</h2>
        <p>We evaluate all the three main techniques used for short read error correction and multiple software products based on each underlying method
          - kmer- spectrum based methods, suffix tree/array based methods , and multiple sequence alignment based methods
        &nbsp; <a class="btn btn-primary" href="<%= "#{@config[:site_pfx]}" if @config[:site_pfx] %>/ec/" role="button">Details &raquo;</a></p>
      </div>
      <hr/>
      <div class="card border-light">
        <h2>Long Read Error Correction</h2>
        <p> At present, there is renewed interest in long read PacBio sequencers, while at the same time early datasets from emerging Oxford Nanopore sequencers have become available.
          We evaluate both the hybrid and standalone approaches for long read error correction. 
        &nbsp; <a class="btn btn-primary" href="<%= "#{@config[:site_pfx]}" if @config[:site_pfx] %>/lec/" role="button">Details &raquo;</a></p>
      </div>
      <hr/>
      <div class="card border-light">
        <h2>Short Read Mapping</h2>
        <p> Work in progress
        &nbsp; <a class="btn btn-primary" href="#" role="button">Details &raquo;</a></p>
      </div>
      <hr/>
      <div class="card border-light">
        <h2>Long Read Mapping</h2>
        <p> Work in progress
        &nbsp; <a class="btn btn-primary" href="#" role="button">Details &raquo;</a></p>
      </div>
      <hr/>
      <div class="card border-light">
        <h2>Short Read Assembly</h2>
        <p> Work in progress
        &nbsp; <a class="btn btn-primary" href="#" role="button">Details &raquo;</a></p>
      </div>
    </div> <!-- /container -->
  </main>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">Supported by National Science Fundation under ... </span>
    </div>
  </footer>
</body>
</html>
